<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold text-primary" href="#">
      Portfolio Management
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
        <li class="nav-item">
          <a
            class="nav-link fw-bold text-dark"
            [class.active]="activeTab === 'dashboard'"
            routerLink="/dashboard"
            (click)="setActive('dashboard')"
          >
            Dashboard
          </a>
        </li>
        <li class="nav-item fw-bold ms-lg-3">
          <a
            class="nav-link"
            [class.active]="activeTab === 'investments'"
            routerLink="/investment"
            (click)="setActive('investments')"
          >
            Investments
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
